{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

<div class="terms-list">
    {{- $type := .Type }}
    {{- $seriesData := slice }}
    {{- range .Data.Terms.Alphabetical }}
        {{- $count := .Count }}
        {{- with site.GetPage (printf "/%s/%s" $type .Name) }}
            {{- $seriesData = $seriesData | append (dict "title" .Title "permalink" .Permalink "description" .Description "weight" .Weight "count" $count) }}
        {{- end }}
    {{- end }}
    {{- range sort $seriesData "weight" }}
    <article class="post-entry">
        <header class="entry-header">
            <h2><a href="{{ .permalink }}">{{ .title }}</a></h2>
        </header>
        {{- if .description }}
        <div class="entry-content">
            <p>{{ .description }}</p>
        </div>
        {{- end }}
        <footer class="entry-footer">
            <span class="series-post-count">{{ .count }} {{ if eq .count 1 }}post{{ else }}posts{{ end }}</span>
        </footer>
    </article>
    {{- end }}
</div>

{{- end }}{{/* end main */ -}}
