
{% extends '_base.html' %}
{% block content %}
<div class="container">
    <h1>{{SITE_TITLE}}</h1>
    <h2>Site Render_Engine Site Built Successfully</h2>
    <img src="/static/render-engine-logo.png" alt="Render Engine Logo"/>
<h2>Pages Exist!</h2>
<p>You can view your example page at <a href="/example-page.html">Example Page</a>.</p>
<h2>Blog Posts Exist!</h2>
<p>You can view your <a href="/blog/example-blog-post.html">Example Blog Post</a>.</p>
<p>You can also view the <a href="/blog/blog.html">Blog Archive</a>.</p>

</div>
{% endblock %}
